.hobbies {
    position: absolute;
    top: 1000px;
    background-color: #fdeaee;
    width: 80%;
    /* height: 300px; */
}
.hobbies__title{
    padding-top: 5%;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Raleway';
    color: #464646;
}
.hobbies__line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}
.hobbies__box{
    width: 150px;
    background-color: #FFFFFF;
}
.hobbies__img{
    /* width: 50px; */
    text-align: center;
    padding-top: 50px;
}
.hobbies__name{
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    top:10px
}
.hobbies__imagen{
    height: 50px;
}